In [13]:
import pandas as pd

In [37]:
two_dimensional_list = [['공성식',23,980416], ['안소희',4,7], ['박보영', 33,'생년월일']]

In [38]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['이름','나이','생년월일'], index = ['a','b','c'])
my_df

    이름  나이    생년월일
a  공성식  23  980416
b  안소희   4       7
c  박보영  33    생년월일

In [30]:
type(my_df)

pandas.core.frame.DataFrame

In [31]:
my_df.columns

Index(['이름', '나이', '생년월일'], dtype='object')

In [32]:
my_df.index

Index(['a', 'b', 'c'], dtype='object')

In [33]:
my_df.dtypes

이름      object
나이      object
생년월일    object
dtype: object

In [34]:
my_df.columns

Index(['이름', '나이', '생년월일'], dtype='object')

In [35]:
my_df.columns == '이름'

array([ True, False, False])

In [45]:
my_df

    이름  나이    생년월일
a  공성식  23  980416
b  안소희   4       7
c  박보영  33    생년월일

In [48]:
my_df.iloc[3] = ['이주빈', 23, 778899]

IndexError: single positional indexer is out-of-bounds